/*fuentes*/
@font-face{
    font-family: "trebuchetMS";
    src:url('fonts/TrebuchetMS.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "BebasNeue";
    src:url('fonts/BebasNeue.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "WebSymbolsRegular";
    src:url('fonts/websymbols-regular-webfont.eot');
    src:url('fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/websymbols-regular-webfont.woff') format('woff'),
        url('fonts/websymbols-regular-webfont.ttf') format('truetype'),
        url('fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*generales*/
*{
    margin:0px;
    padding: 0px;
}

body{
    background: url("../img/pattern.png");
}

.wrap{
    width: 1200px;
    margin: 0px auto;
}

/*cebecera*/
#header{
    width: 100%;
    height: 70px;
    background-color: black;
    font-family: "BebasNeue";
    color: white;
}

#logo{
    float: left;
    width: 200px;
    background-color: #37bcf9;
    text-align: center;
    margin-top:8px;
    margin-left: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    overflow: hidden;
    transition: all 300ms;
}

#logo .gear{
    display: block;
    float: left;
    font-size: 30px;
    margin-top: 8px;
    margin-left: 26px;
}

#logo h3{
    display: block;
    float: right;
    font-size: 40px;
    margin-top: 5px;
    margin-right: 65px;
    transition: all 300ms;
}

.gear{
    font-family: "WebSymbolsRegular";
}