*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.clearfix{
    float: none;
    clear: both;
}

#general{
    width: 1200px;
    border:1px solid red;
    margin:0 auto;
    margin-top: 20px;
}

#header{
    width: 100%;
    height: 100px;
    background:rgb(73, 73, 206);
    color: white;
    text-align: center;
    line-height: 90px;
}

#menu{
    background-color:#cccccc;
}

#menu ul li{
    /*display: inline-block;*/
    display: block;
    float: left;
    border-right: 1px solid #ccc;
}

#menu ul li a{
    display:block;
    padding: 10px;
    color: #444444;
} 
#menu ul li:hover{
    background: rgb(73, 73, 206);
    cursor: pointer;
}

#menu ul li:hover a{
    color: white;
}

#contenido{
    width: 60%;
    float: left;
    border: 1px solid green;
}

#lateral{
    float: left;
    width: 30%;
    border: 1px solid black;
}

#contenido > h1 {
    text-align: center;
    border-bottom:1px solid #ccc ;
}

#contenido .caja{
    width: 40%;
    height: 250px;
    background-color: red;
    border: 5px solid blue;
    color: white;
    float: left;
    margin:20px;
    margin-left: 40px;
}