*{
    margin: 0px;
    padding: 0px;
}
.clearfix{
    float: none;
    clear: both;
}
#container{
    width: 70%;
    background-color: red;
    margin: 0px auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    height: 150px;
    line-height: 150px;
    background: lightblue;
    color: #333333;
    text-align: center;
}

aside{
    width: 25%;
    min-height: 700px;
    background: #cccccc;
    float: left;
    text-align: center;
    line-height: 700px;
}

#articles{
    float: left;
    width: 75%;
    min-height: 700px;
    background-color:lemonchiffon ;
}


#articles article{
    width: 25%;
    height: 150px;
    background: green;
    color: white;
    line-height: 150px;
    text-align: center;
    border: 2px solid white;
    float: left;
    margin:15px;
}

/*responsive*/
/*desde la anchura 0px hasta 888px */
@media(max-width:888px){
    /*seejecutaran estos estilos*/
    #articles article{
        width: 40%;
        background-color: red;
    }
}

@media(max-width:632px){
    /*seejecutaran estos estilos*/
    #container{
        overflow: hidden;
    }
    
    #articles{
        width: 100%;
    }

    aside{
        float: none;
        min-height: auto;
        line-height: 20px;
        width: 90%;
        padding: 20px;
    }

    #articles article{
        width: 90%;
        background-color: blue;
    }
}

@media(max-width:554px){
    /*seejecutaran estos estilos*/
    body{
        background-color: lightsalmon;
    }
}