*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.clearfix{
    float: none;
    clear: both;
}

#general{
    width: 1200px;
    border:1px solid red;
    margin:0 auto;
    margin-top: 20px;
}

#header{
    width: 100%;
    height: 100px;
    background:rgb(73, 73, 206);
    color: white;
    text-align: center;
    line-height: 90px;
}

#menu{
    background-color:#cccccc;
}

#menu ul li{
    /*display: inline-block;*/
    display: block;
    float: left;
    border-right: 1px solid #ccc;
}

#menu ul li a{
    display:block;
    padding: 10px;
    color: #444444;
} 
#menu ul li:hover{
    background: rgb(73, 73, 206);
    cursor: pointer;
}

#menu ul li:hover a{
    color: white;
}

#contenido{
    width: 60%;
    float: left;
}

#lateral{
    float: left;
    width: 30%;
    border: 1px solid black;
    min-height: 500px;
    max-height: 650px;
    text-align: center;
    overflow-y: scroll;
}

#contenido > h1 {
    text-align: center;
    border-bottom:1px solid #ccc;
    text-shadow: 1px 1px 15px black;
}

#contenido .caja{
    width: 40%;
    height: 250px;
    background-color: #ccc;
    color: white;
    float: left;
    margin:20px;
    margin-left: 40px;
    box-shadow: 1px 1px 20px black;
    border-radius: 15px;
}

.sombra-interna{
    box-shadow: 5px 5px 20px black inset !important;
    border-radius: 5px 5px 15px 25px !important;
}

#footer{
    width: 100%;
    height: 55px;
    line-height: 55px;
    background: #eee;
    text-align: center;
    color:#444;
    border-top: 1px solid #ccc;
}

.libre{
    color: white;
    background-color: red;
    width: 80px;
    position: absolute;
    top: 300px;
    left: 45%;
}

.libre1{
    z-index: 1;
}

.libre2{
    color: white;
    background-color: green;
    top: 280px;
    left: 45%;
    z-index: 2;
}

.fija{
    color: white;
    background-color: blue;
    width: 80px;
    top: 300px;
    position: fixed;
}